h1 {
	text-align: center;
}
h1 a {
	color: inherit;
	text-decoration: inherit;
}
form {
	margin-left: auto;
	margin-right: auto;
	width: 20rem;
}
form input, form button {
	display: block;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
}
#dropfile {
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	border: 2px dashed black;
	height: 10rem;
	width: 90%;
	text-align: center;
}

.photo-full {
	display: block;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	height: 100vh;
}
.photo-submit {
	position: absolute;
	bottom: 1rem;
	left: calc(50% - 7.5rem);
	height: 4rem;
	width: 15rem;
}
.collage {
	min-height: 100vh;
	background: #D9D0BF;
}
.collage img {
	border: 10px solid #2b211c;
	vertical-align: bottom;
}
footer {
	padding: .75rem;
	font-family: sans-serif;
	font-size: 1.25rem;
	background: #714e3c;
	background: #a47056;
	color: #ededed;
	text-align: center;
}
footer a, footer a:hover {
	color: inherit;
}
